body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  color: white;
  padding-top: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 20px;
  width: 280px;
  margin: auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  animation: float 3s infinite ease-in-out;
}

.pump {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background: gray;
}

.pump.on {
  background: limegreen;
  box-shadow: 0 0 20px limegreen;
  animation: pulse 1s infinite;
}

button {
  margin: 10px;
  padding: 12px 18px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.active {
  background: yellow;
}

@keyframes pulse {
  0% { box-shadow: 0 0 5px lime; }
  50% { box-shadow: 0 0 25px lime; }
  100% { box-shadow: 0 0 5px lime; }
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}