body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.main {
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  cursor: pointer;
}